<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dashboard</h1>
    <hr class="my-4"> {{#if isUser}}
    <p>Howdy, {{user.username}}!</p>
    <a class="btn btn-primary btn-lg" href="/game" role="button">Play Trivia</a>
    <a class="btn btn-primary btn-lg" href="/" role="button">About</a>
    <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
    {{/if}}
  </div>
</div>

<div class="container">
  <div class="row" id="chartsHead">
    <div class="col-md-6">
      <h2>How Smart Are You?</h2>
    </div>
    <div class="col-md-6">
      <h2>How Popular Are Your Questions?</h2>
    </div>
  </div>

  <div class="row" id="charts">
    <div class="col-md-6">
      <canvas id="correctIncorrect" data-user="{{user.username}}" data-correct="{{user.correct}}" data-wrong="{{user.wrong}}"
        width="300" height="300"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="approvedDisapproved" data-approved="{{questions.approved}}" data-disapproved="{{questions.disapproved}}"
        width="300" height="300"></canvas>
    </div>
  </div>

  <div class="row" id="qFormArea">
    <div class="col-md-12">
      <h2>Create a Trivia Question</h2>
      <form action="/submitquestion" method="POST">
        <div class="form-group">
          <label for="usernameCreate"> Question:</label>
          <input type="text" class="form-control" id="q1" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="usernameCreate">Answer 1:</label>
          <input type="text" class="form-control" id="a1" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="usernameCreate">Answer 2:</label>
          <input type="text" class="form-control" id="a2" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="usernameCreate">Answer 3:</label>
          <input type="text" class="form-control" id="a3" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="usernameCreate">Answer 4:</label>
          <input type="text" class="form-control" id="a4" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="usernameCreate">Correct Answer Number:</label>
          <select name="cars" size="1" id="c1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <br>
        <button id="btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">submit</button>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Question Submission</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="text" id="textBody1" value="" />
      </div>
      <div class="modal-footer">
        {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}} {{!-- <a class="btn btn-primary btn-secondary"
          href="/dashboard" data-dismiss="modal" role="button">Close</a> --}}
        <a class=" btn btn-primary btn-lg" href="/dashboard" role="button">Close</a>
      </div>
    </div>
  </div>
</div>

<script src="js/dashboard.js"></script>
<script src="js/submission.js"></script>