<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-4">Dashboard</h3>
    <hr class="my-4"> {{#if isUser}}
    <p>Howdy, {{user.username}}!</p>

    <a class="btn btn-primary btn-lg" href="/game" role="button">Play Trivia</a>
    <a class="btn btn-primary btn-lg" href="/" role="button">About</a>
    <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
    {{/if}}
  </div>
</div>
{{!-- <div>
  <h3 class="h1">correct_answer:</h1>
    <h3 class="h1">incorrect_answers:</h1>
</div> --}}
<div class="container">
  <h3 class="display-4"></h3>
  {{#each question1}}
  <p class="p">{{{toJSON this.question}}}</p>
  <input id="rightanswer1" type="hidden" value="{{{toJSON this.correct_answer}}}">
  {{!--
  <input class="r1" type="radio" name="optradio" value="{{{ toJSON this.correct_answer}}}" checked>{{{ toJSON this.correct_answer}}} --}} {{!-- </br> --}}
  <select class="selectanswer1" id="selectanswerid1">
    {{!--
    <option value="">Choose an option</option> --}} {{#each this.incorrect_answers}} {{!--
    <input class="i1" type="radio" name="optradio"
      value="{{{ toJSON this}}}">{{{ toJSON this}}} --}}


    <option id="joie1" value="{{{ toJSON this}}}">{{{ toJSON this}}}</option>

    </br>
    {{/each}}
  </select>
  {{/each}} {{#each question2}}
  <p class="p">{{{toJSON this.question}}}</p>
  <input id="rightanswer2" type="hidden" value="{{{toJSON this.correct_answer}}}">
  {{!--
  <input class="r1" type="radio" name="optradio" value="{{{ toJSON this.correct_answer}}}" checked>{{{ toJSON this.correct_answer}}} --}} {{!-- </br> --}}
  <select class="selectanswer2" id="selectanswerid2">
    {{!--
    <option value="">Choose an option</option> --}} {{#each this.incorrect_answers}} {{!--
    <input class="i1" type="radio" name="optradio"
      value="{{{ toJSON this}}}">{{{ toJSON this}}} --}}


    <option id="joie2" value="{{{ toJSON this}}}">{{{ toJSON this}}}</option>

    </br>
    {{/each}}
  </select>
  {{/each}} {{#each question3}}
  <p class="p">{{{toJSON this.question}}}</p>
  <input id="rightanswer3" type="hidden" value="{{{toJSON this.correct_answer}}}">
  {{!--
  <input class="r1" type="radio" name="optradio" value="{{{ toJSON this.correct_answer}}}" checked>{{{ toJSON this.correct_answer}}} --}} {{!-- </br> --}}
  <select class="selectanswer3" id="selectanswerid3">
    {{!--
    <option value="">Choose an option</option> --}} {{#each this.incorrect_answers}} {{!--
    <input class="i1" type="radio" name="optradio"
      value="{{{ toJSON this}}}">{{{ toJSON this}}} --}}


    <option id="joie3" value="{{{ toJSON this}}}">{{{ toJSON this}}}</option>

    </br>
    {{/each}}
  </select>
  {{/each}} {{#each question4}}
  <p class="p">{{{toJSON this.question}}}</p>
  <input id="rightanswer4" type="hidden" value="{{{toJSON this.correct_answer}}}">
  {{!--
  <input class="r1" type="radio" name="optradio" value="{{{ toJSON this.correct_answer}}}" checked>{{{ toJSON this.correct_answer}}} --}} {{!-- </br> --}}
  <select class="selectanswer4" id="selectanswerid4">
    {{!--
    <option value="">Choose an option</option> --}} {{#each this.incorrect_answers}} {{!--
    <input class="i1" type="radio" name="optradio"
      value="{{{ toJSON this}}}">{{{ toJSON this}}} --}}


    <option id="joie4" value="{{{ toJSON this}}}">{{{ toJSON this}}}</option>

    </br>
    {{/each}}
  </select>
  {{/each}}
    {{#each question5}}
<p class="p">{{{toJSON this.question}}}</p>
<input id="rightanswer5" type="hidden" value="{{{toJSON this.correct_answer}}}">
{{!-- <input class="r1" type="radio" name="optradio" value="{{{ toJSON this.correct_answer}}}"checked>{{{ toJSON this.correct_answer}}} --}}
{{!-- </br> --}}
               <select class="selectanswer5" id="selectanswerid5">
                  {{!-- <option value="">Choose an option</option> --}}
{{#each this.incorrect_answers}}
{{!-- <input class="i1" type="radio" name="optradio" value="{{{ toJSON this}}}">{{{ toJSON this}}} --}}

                     
                    <option id="joie5" value="{{{ toJSON this}}}">{{{ toJSON this}}}</option>
              
</br>
{{/each}}
</select>
{{/each}}
</div>
</br>
<div class="col-md-12">
  <div class="col-md-3"></div>
  <div class="col-md-9">
  <button id="btn" type="button" class="btn btn-success">Submit</button>
  </div>
</div>