<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dashboard</h1>
    <hr class="my-4"> {{#if isUser}}
    <p>Howdy, {{user.username}}!</p>
    <a class="btn btn-primary btn-lg" href="/game" role="button">Play Trivia</a>
    <a class="btn btn-primary btn-lg" href="/" role="button">About</a>
    <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
    {{/if}}
  </div>
</div>

<div class="container">
  <h1 class="display-4">How Smart Are You?</h1>
  <canvas id="correctIncorrect" data-user="{{user.username}}" data-correct="{{user.correct}}" data-wrong="{{user.wrong}}" width="300"
    height="300"></canvas>
</div>

<!--coming up next-->

<div class="container">
  <h1 class="display-4">How Popular Are Your Questions?</h1>
  <canvas id="approvedDisapproved" data-approved="{{user.correct}}" data-wrong="{{user.wrong}}" width="300" height="300"></canvas>
</div>

<!--script-->

<script>
  var ctx1 = $("#correctIncorrect");

  var correctIncorrect = new Chart(ctx1, {
    type: 'doughnut',
    data: {
      labels: ["Correct", "Incorrect"],
      datasets: [{
        data: [$("#correctIncorrect").data("correct"), $("#correctIncorrect").data("wrong")],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: false
    }
  });

  var ctx2 = $("#correctIncorrect");

  var correctIncorrect = new Chart(ctx2, {
    type: 'doughnut',
    data: {
      labels: ["Approved", "Disapproved"],
      datasets: [{
        data: [appSum, disSum], //need to add in variables for approved/disapproved here
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: false
    }
  });
</script>
<script src="js/dashboard.js"></script>