<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Play Trivia</h1>
    <hr class="my-4"> {{#if isUser}}
    <p>Howdy, <span id="username" data-id="{{user.id}}">{{user.username}}</span>!</p>
    <a class="btn btn-primary btn-lg" href="/dashboard" role="button">Dashboard</a>
    <a class="btn btn-primary btn-lg" href="/" role="button">About</a>
    <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
    {{/if}}
  </div>
</div>

<div class="container">
  <div class="row text-center" id="score">
    <div class="col-md-4">
      <h6>Total Answered:</h6>
      <h2 id="total">{{user.totalAnswered}}</h2>
    </div>
    <div class="col-md-4">
      <h6>Total Correct:</h6>
      <h2 id="correct">{{user.correct}}</h2>
    </div>
    <div class="col-md-4">
      <h6>Total Incorrect:</h6>
      <h2 id="incorrect">{{user.wrong}}</h2>
    </div>
  </div>

  {{#if isQuestion}}
  <div class="row text-center">
    <div class="col-md-12" id="gamespace">
      <h3 id="question" data-id="{{question.id}}" data-approved="{{question.approved}}" data-disapproved="{{question.disapproved}}"
        data-correctGuesses="{{question.correctGuesses}}" data-incorrectGuesses="{{question.incorrectGuesses}}">{{question.question}}</h3>
      <button class="btn btn-primary answerBtn" data-value="1" data-answer="{{question.correctAnswer}}">{{question.answer1}}</button>
      <button class="btn btn-primary answerBtn" data-value="2" data-answer="{{question.correctAnswer}}">{{question.answer2}}</button>
      <button class="btn btn-primary answerBtn" data-value="3" data-answer="{{question.correctAnswer}}">{{question.answer3}}</button>
      <button class="btn btn-primary answerBtn" data-value="4" data-answer="{{question.correctAnswer}}">{{question.answer4}}</button>
      <p>This question was created by {{question.username}}</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="charts"></div>
  </div>
  <div class="row text-center">
    <div class="col-md-12" id="voting"></div>
  </div>
  {{/if}} {{#unless isQuestion}}
  <div class="row text-center">
    <div class="col-md-12" id="noquestions">
      <h3>Wow, you have answered all questions in the database!</h3>
    </div>
  </div>
  {{/unless}}

</div>

<div class="chart-container" style="height:250px;width:250px;">
  <canvas id="myChart"></canvas>
</div>

<script src="js/game.js"></script>